# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives**
* list popular languges for data science
* list commonly used libraries in data science
* show some basic arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. NumPy
4. Seaborn

| Data Science Tools |
|--------------------|
|      MySQL         |
|    PostgreSQL      |
|     MongoDB        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This is a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [12]:
# This will convert 200 minutes into hours by diving by 60

200/60

3.3333333333333335

## Author
Jason Mistretta